/* ABOUT PAGE */
.about-page-img {
    display: inline-block;
    padding-top: 0 !important;
    width: 30% !important;
  }
  .about-page-img img {
    vertical-align: unset !important;
    border-radius: 10%;
    /* width: 400px; */
    width: 100%;
  }
  
  .about-content-welcome {
    display:flex;
    align-items: center; 
    justify-items: space-between;
    flex-direction: row;
  }
  
  .about-page-p1 {
    padding-left: 30px;
    /* height: 300px; */
    width: 65% !important;
  }
  
  .about-page-p2 {
    padding-right: 30px;
    width: 65% !important;
  }

/* MEDIA QUERYS */

@media (max-width: 1400px) {

  /* ABOUT PAGE */
  .about-page-img {
    width: 40% !important;
  }

  .about-page-p1 {
    width: 55% !important;
  }
  
  .about-page-p2 {
    width: 55% !important;
  }
}


@media (max-width: 1200px) {

  /* ABOUT PAGE */
  .about-content-welcome {
    flex-direction: column;
  }
  .welcome-2 {
    flex-direction: column-reverse;
  }
  .about-page-img {
    width: 40% !important;
  }

  .about-page-p1 {
    width: 100% !important;
  }
  
  .about-page-p2 {
    width: 100% !important;
  }

  .about-page-p1 {
    padding-left: 0px;
  }
  
  .about-page-p2 {
    padding-right: 0px;
  }
}


@media (max-width: 992px) {


  /* ABOUT PAGE */
  .about-page-img {
    width: 70% !important;
    padding-bottom: 20px;
  }

  .about-content-welcome {
    margin: auto;
  }
}

@media (max-width: 768px) {

  /* ABOUT */
  .about-img {
    width: initial;
  }

  .about-page-img  {
    width: 60% !important;
  }
  

}

@media (max-width: 575px) {
  .about-content-welcome {
    width: 90%; 
  }

  .about-content-text {
    padding-left: 22px;
  }

  .about-page-img  {
    width: 70% !important;
  }
  
}

@media (max-width: 425px) {
  .about-page-img  {
    width: 90% !important;
  }
}