
/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

.nav-link {
    font-family: 'Nunito Sans', sans-serif !important;
    font-size: 18px !important;
    padding: 10px !important;
}


/* create variables */
$gissel-color : #11BAAA;

/* change variables */
$navbar-light-color:                #AAB4B3;
$navbar-light-hover-color:          $gissel-color;
$navbar-light-active-color:         $gissel-color;

$primary: $gissel-color;
$btn-font-family: 'Nunito Sans', sans-serif;

.btn-primary { 
    color: #FFFFFF !important;
}

.btn-secondary { 
    color: #AAB4B3 !important;
}

.btn {
    font-size: 14px !important;
    letter-spacing: .8px;
    --bs-btn-padding-y: 10px !important;
    --bs-btn-padding-x: 2.5em !important;
}

.btn-outline-primary {
    --bs-btn-hover-color: #FFFFFF !important;
}
  

.navbar-toggler {
    border: none !important;
}

.navbar-toggler-icon {
    color: $gissel-color !important;
}

.navbar {
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 0 !important;
    margin: auto;
    width: 80%;
}

.navbar-collapse {
    flex-grow: 0 !important;
}

.show .nav-link{
    padding-top: 10px !important;
    padding-bottom: 10px !important;
   
}

.show .nav-link:first-child{
    padding-top: 20px !important;
}

.show .nav-link:last-child{
    padding-bottom: 20px !important;
}


nav .container {
    padding: 0 25px !important;
}

nav {
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,.2);
  }

.navbar-brand .nav-link {
    padding: 0 !important;
}

.container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
    padding-right: calc(var(--bs-gutter-x) * 1) !important;
    padding-left: calc(var(--bs-gutter-x) * 1) !important;
}

/* @media (min-width: 768px){
    .container, .container-sm, .container-md {
        max-width: 800px;
    }
} */


/* import bootstrap style at the bottom */
@import '~bootstrap/scss/bootstrap.scss';