/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');      /* Nunito para los botones */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');  /* Para los títulos (className title) */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');       /* Para el texto (className texto) */

/* GENERAL STYLES */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 72px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #F5F5F5;  */
  background-color: #FFFFFF; 
  overflow-x: hidden;
}

.title {
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
  color: #11BAAA;
}

.text {
  font-family: 'Bellefair', serif;
  font-size: 22px;
}

.subtitle {
  font-family: 'Bellefair', serif;
  font-size: 25px;
  color: #11BAAA;
}


.p-50 {
  padding: 50px;
}

.p-top-0 {
  padding-top: 0;
}

.p-bottom-60 {
  padding-bottom: 60px;
}

.aboutBtns {
  width: 200px;
}

.aboutBtns-container-1200 {
  display: none;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}

.btn-container {
  padding-right: 48px;
}


/* ABOUT MAIN PAGE */
.about-img {
  width: 50%;
}

.about-img img {
  max-width: 400px;
}

.about-text {
  position: relative;
}

.header {
  background-color: #F9F6EE;
  position: relative;
  min-height: 700px;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index:1000;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(256% + 1.3px);
  height: 186px;
}

.wave .shape-fill {
  fill: #FFFFFF;
}

/* ABOUT MAIN PAGE */

.about-cont {
  position: relative;
}

.hand-container{
  position: absolute;
  top: 0;
  right: 30%;
}


.hand-container .svg-inline--fa { 
	height: 14em;
}

.btn-circle .svg-inline--fa { 
	height: 2em;
}

/* TERAPIAS */

.cards-container .svg-inline--fa { 
	height: 2.2em;
}

.icon-color{
  color: #11BAAA;
}

.card-elem:hover {
  color: white;
}

/* WPP & HEALY BTN */
.btn-wsp {
  position: fixed;
  z-index: 10000;
  bottom: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  padding: 10px 10px;
  border-radius: 50px;
  text-align: center;
  background-color: #0df053;
  border-color: #0df053;
}

.btn-wsp:hover {
  background-color: #FFFFFF;
  border-color: #0df053;
}

.btn-wsp:hover .svg-inline--fa { 
	color: #0df053;
}

.btn-wsp .svg-inline--fa { 
	height: 2.4em;
}

.btn-healy {
  position: fixed;
  z-index: 10000;
  bottom: 30px;
  left: 30px;
  width: 55px;
  height: 55px;
  padding: 10px 10px;
  border-radius: 50px;
  text-align: center;
}



/* MEDIA QUERYS */

@media (max-width: 1200px) {
  /*  HEADER */
  .carousel-item img {
    width: 400px;
  }

  /* ABOUT MAIN PAGE */
  .about-cont {
    flex-direction: row-reverse !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .about-img img {
    max-width: 350px;
  }
  .about-text{
    padding-bottom: 0 !important;
  }
  .aboutBtns-container{
    display:none;
  }
  .aboutBtns-container-1200{
    display:flex;
    flex-direction: column;
    align-items:center;
  }
}

@media (max-width: 992px) {
  /*  HEADER */
  .header .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 800px;
    width: 80%;
  }

  .header .p-bottom-60 {
    padding-bottom: 30px;
  }

  .header .btn-container {
    padding-right: 10px;
  }

  /*  ABOUT MAIN PAGE */
  .about-cont {
    flex-direction: column-reverse !important;
    align-items: center;
  }

  .about-cont .title {
    text-align: center;
  }
  .about-cont .subtitle {
    text-align: center;
  }
  .about-cont .text {
    text-align: center;
  }
  .p-50 {
    padding: 0;
  }

  .aboutBtns-container-1200 {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}

