/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');      /* Nunito para los botones */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');  /* Para los títulos (className title) */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');       /* Para el texto (className texto) */

/* GENERAL STYLES */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  /* padding-top: 72px; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #F5F5F5;  */
  background-color: #FFFFFF; 
  overflow-x: hidden;
}

.title {
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
  color: #11BAAA;
}

.text {
  font-family: 'Bellefair', serif;
  font-size: 22px;
}

.subtitle {
  font-family: 'Bellefair', serif;
  font-size: 25px;
  color: #11BAAA;
}

.title-orange {
  color: rgba(236, 75, 25, .8);
}

.subtitle-orange {
  color: rgba(236, 75, 25, .6);
  font-family: 'Kaushan Script', cursive;
}

.text-orange {
  color: rgb(236, 75, 25, .8);
  font-size: 24px;
}

.p-50 {
  padding: 50px;
}

.p-top-0 {
  padding-top: 0;
}

.p-top-100 {
  padding-top: 100px;
}

.p-bottom-60 {
  padding-bottom: 60px;
}

.aboutBtns {
  width: 200px;
}

.aboutBtns-container-1200 {
  display: none;
}

.btn-circle {
  width: 50px;
  height: 50px;
  padding: 10px 10px;
  border-radius: 25px;
  font-size: 10px;
  text-align: center;
}

.btn-container {
  padding-right: 48px;
}



/* ABOUT MAIN PAGE */
.about-img {
  width: 50%;
}

.about-img img {
  max-width: 400px;
}

.about-text {
  position: relative;
}

.header {
  /* background-color: #F9F6EE; */
  position: relative;
  min-height: 770px;
}

.header .container {
  z-index: 10000;
  padding-top: 72px;
}

.header .content {
  width: 75%;
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index:1000;
}

.wave svg {
  position: relative;
  display: block;
  width: calc(256% + 1.3px);
  height: 186px;
}

.wave .shape-fill {
  fill: #FFFFFF;
}

/* ABOUT MAIN PAGE */

.about-cont {
  position: relative;
}

.about-img {
  padding-top: 20px;
}

.about-img img {
  border-radius: 10%;
}

.hand-container{
  position: absolute;
  top: 0;
  right: 30%;
}

.hand-container .svg-inline--fa { 
	height: 14em;
}

.btn-circle .svg-inline--fa { 
	height: 2em;
}

/* MASAJES */

.btn-msj {
  width: 35px;
  height: 35px;
  padding: 5.5px 5px;
  border-radius: 20px;
  /* text-align: center; */
}

.btn-msj .svg-inline--fa { 
	height: 1.5em;
}

.btn-msj:hover .svg-inline--fa { 
	color: #FFFFFF;
}


.masajes-mainpage-welcome {
  text-align: center;
}

.masajes-mainpage {
  position: relative;
}

.masajes-mainpage ul {
  list-style-type: none;
}

.masajes-mainpage li {
  margin-bottom: 10px;
  vertical-align: center;

}

.masajes-mainpage span {
  padding-left: 15px;
}

.masajes-mainpage-content {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-around;
  width: 80%;
}
.masajes-mainpage-img {
  padding: 20px;
}

.masajes-mainpage-img img {
  border-radius: 10%;
}

.masajes-mainpage-button {
  margin: auto;
}

.masajes-mainpage-button .btn{
  color: #FFFFFF !important;
}

.spa-container {
  position: absolute;
  top: 0;
  right: 42%;
}

.spa-container .svg-inline--fa {
  height: 10em;
}


/* TERAPIAS */

.cards-container .svg-inline--fa { 
	height: 2.2em;
}

.icon-color{
  color: #11BAAA;
}

.card-footer {
  background-color: white;
  border-top: 0px;
  transition-duration: 250ms;
  transition-timing-function: ease;
}

.card-elem {
  transition-duration: 250ms;
  transition-timing-function: ease;
  box-shadow: .5px 1px 4px 2px rgba(0,0,0,.2);
  border: none;
}

.card-elem:hover {
  background-color: #11BAAA;
  cursor: pointer; 
}

.card-elem:hover .card-component {
  color: white;
}

.card-elem:hover .card-footer {
  background-color: #11BAAA;
}

.card-elem a {
  text-decoration: none;
}

/* TESTIMONIOS */
.testimonios-mainpage .title {
  color: rgba(17, 186, 170, .6);
}

.testimonios-mainpage .subtitle {
  font-family: 'Kaushan Script', cursive;
}

.testimonios-mainpage-welcome {
  text-align: center;
}


.testimonios-mainpage-img img {
  width: 100%;
}

.testimonios-mainpage-content {
  width: 100%;
  height: 400px;
  background-color: #D8FEFA;
}

/* CONTACTO- FOOTER */
.contacto {
  background-color: rgba(17, 186, 170, .8);
  display: flex;
  flex-direction: column;
}

.contacto .title {
  color: #FFFFFF;
  display: inline-block;
  text-align: center;
  width: auto;
  margin: 0 !important;
}

.contacto-info {
  display: flex;
  flex-direction: column;
  align-items:center;
  margin: auto;
}
.contacto-info .svg-inline--fa {
  height: 1.8em;
  margin-top: 20px;
} 

.contacto-info span {
  color: #FFFFFF;
  padding-left: 10px;
}


.contacto img {
  width: 8em !important;
}

.contacto-welcome {
  align-items: center;
  margin: auto;
  margin-bottom: 0 !important;
}

.contacto ul {
  list-style-type: none;
}

/* WPP & HEALY BTN */
.btn-wsp {
  position: fixed;
  z-index: 10000;
  bottom: 30px;
  right: 30px;
  width: 55px;
  height: 55px;
  padding: 10px 10px;
  border-radius: 50px;
  text-align: center;
  background-color: #0df053;
  border-color: #0df053;
}

.btn-wsp:hover {
  background-color: #FFFFFF;
  border-color: #0df053;
}

.btn-wsp:hover .svg-inline--fa { 
	color: #0df053;
}

.btn-wsp .svg-inline--fa { 
	height: 2.4em;
}

.btn-healy {
  position: fixed;
  z-index: 10000;
  bottom: 30px;
  left: 30px;
  width: 55px;
  height: 55px;
  padding: 10px 10px;
  border-radius: 50px;
  text-align: center;
}


/* MEDIA QUERYS */
@media (max-width: 1500px) {
  /*  HEADER */
  .header-img img {
    width: 450px;
  }
}

@media (max-width: 1400px) {
  .spa-container {
    position: absolute;
    top: 0;
    right: 41%;
  }
}

@media (max-width: 1260px) {
  /*  HEADER */
  .header-img img {
    width: 400px;
  }
}


@media (max-width: 1200px) {
  /*  HEADER */
  .header-img img {
    width: 400px;
  }

  .p-bottom-60 {
    padding-bottom: 30px;
  }

  .btn-container {
    padding-right: 30px;
  }

  /* ABOUT MAIN PAGE */
  .about-cont {
    flex-direction: row-reverse !important;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .about-img img {
    max-width: 350px;
  }
  .about-text{
    padding-bottom: 0 !important;
  }
  .aboutBtns-container{
    display:none;
  }
  .aboutBtns-container-1200{
    display:flex;
    flex-direction: column;
    align-items:center;
  }
  /* MASAJES MAIN PAGE */
  .masajes-mainpage-img img {
    width: 400px;
    padding-top: 10px;
  }

  .masajes-mainpage-content {
    width: 90%;
  }
}

@media (max-width: 1150px) {
  .header-img img {
    width: 380px;
  }
}

@media (max-width: 1070px) {
  .header .btn-container {
    padding-right: 10px;
  }
  .header-img img {
    width: 370px;
  }
}

@media (max-width: 992px) {

  /* NAVBAR */
  .navbar-collapse-bg {
    background-color:#ace0f9 !important;
  }
  /*  HEADER */
  
  .header-btns {
    /* display: none !important; */
    width: 100% !important;
    justify-content: space-between;
  }

  .header-btns .btn {
    font-size: 13px !important;
  }


  .header .btn-container {
    padding: 10px;
    padding-bottom: 0px;
  }

  .header {
    height: 102vh !important;
  }
  #tsparticles {
    height: 102vh !important;
  }
  .header .content {
    width: 70% !important;
    flex-direction: column !important;
    text-align: center;
  }

  .header .title {
    padding-bottom: 15px !important;
    padding-top: 20px !important;
  }

  .header .text {
    width: 80%;
    margin: auto;
    font-size: 22px !important;
  }

  .header-img {
    align-items: center;
    margin:auto;
  }

  .header .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
    max-width: 800px;
    width: 80%;
  }

  .header .p-bottom-60 {
    padding-bottom: 10px;
  }

  .header .btn-container {
    padding-right: 10px;
  }

  /*  ABOUT MAIN PAGE */
  .about-cont {
    flex-direction: column-reverse !important;
    align-items: center;
  }

  .about-cont .title {
    text-align: center;
  }
  .about-cont .subtitle {
    text-align: center;
  }
  .about-cont .text {
    text-align: center;
  }
  .p-50 {
    padding: 0;
  }

  .aboutBtns-container-1200 {
    margin-top: 25px;
    margin-bottom: 25px;
  }

  /* MASAJES MAIN PAGE */
  .masajes-mainpage-content {
    flex-direction: column-reverse;
    align-items: center;
    padding-top: 10px !important;
  }

  .spa-container {
    right: 37%;
  }

  .masajes-mainpage-img img {
    width: 350px;
  }
}

@media (max-width: 768px) {
  .header .text {
    width: 90%;
    font-size: 20px !important;
  }

  .header-img {
    padding-top: 10px;
  }

  /* ABOUT */
  .about-img {
    width: initial;
  }

  /* MASAJES MAIN PAGE */
  .spa-container {
    right: 30%;
  }
}

@media (max-width: 670px) {
  .header .text {
    width: 100%;
  }
  .header {
    height: 103vh !important;
  }
  #tsparticles {
    height: 103vh !important;
  }
  .header-img {
    padding-top: 20px;
  }
  .content {
    padding-top: 20px !important;
  }
}

@media (max-width: 617px) {
  .header-img img {
    width: 350px;
  }
}

@media (max-width: 537px) {
  .header-img img {
    width: 320px;
  }
  .header {
    height: 102vh !important;
  }
  #tsparticles {
    height: 102vh !important;
  }
}

/* TO DO */
@media (max-width: 475px) { 
}

/* TS PARTICLES */

#tsparticles {   /* This is the id of the div created by the Particles component */
  height: 700px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.z-999 {
  z-index: 999;
}

