/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');      /* Nunito para los botones */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');  /* Para los títulos (className title) */
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');       /* Para el texto (className texto) */

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F9F6EE;
}

.title {
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
  color: #11BAAA;
}

.text {
  font-family: 'Bellefair', serif;
  font-size: 20px;
}

.subtitle {
  font-family: 'Bellefair', serif;
  font-size: 25px;
  color: #11BAAA;
}

.p-50 {
  padding: 50px;
}

.p-top-0 {
  padding-top: 0;
}

.about-img {
  width: 50%;
}



